<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

        <section id="box1">
            <h2>Comparação dos planos de celular</h2>
        </section>

        <section id="box2"> 
            <img src="imagens/claroP.png"> <br>
            <p> <b>Pré-Pago</b> <br> 
                Ganhe benefícios fazendo agora sua recarga para seu Claropré. <br>Venha conhecer nossos planos e aproveite 
                cada segundo da sua vida, sem deixar nada para depois. <br>
                <b>Valores das recargas:</b></p>
                <ul>
                    <li>R$ 13,00</li>
                    <li>R$ 18,00</li>
                    <li>R$ 20,00</li>
                    <li>R$ 30,00</li>
                </ul>
        </section>

        <section id="box3">
            <img src="imagens/oiP.png">
            <p><b>Pós-Pago</b> <br> 
                A Oi agora é muito mais. Fixo, Móvel, banda larga, internet, TV, orelhão, DDD, DDI e negócios. 
                <br> <br> SEU PÓS COM O MELHOR DO 4G. <br> <br>
               <b> Valores dos planos:</b></p>
                <ul>
                    <li>R$ 69,00</li>
                    <li>R$ 79,00</li>
                    <li>R$ 119,00</li>
                    <li>R$ 179,00</li>
                </ul> 
        </section>

        <section id ="box4">
            Escolha o Seu: <br>
            <Input type="radio" id="plano1" name="plano1" value="Plano 1"> Pré-Pago</Input>
            <Input type="radio" id="plano2" name="plano2" value="Plano 2"> Pós-Pago</Input> <br>
            <Input type="submit" id="submit" name="enviar" value="::Enviar::"></Input>
        </section>

        <footer>
            Gustavo - RGM: 2300723-1
        </footer>

</body>
</html>